.square{
    border-style: solid;
    height: 160px;
    width:160px;
    position:absolute;
    left:567px;
    top:70px;
   
}

.square audio{
    height:160 px;
    width:160px;
    padding-bottom: 20px;
    margin-left: 0px;
    padding-left: 0px;
}